body {
  background-color: rgb(245, 245, 245);
  font-family: Aldrich, monospace;
  margin: 0;
  font-size: 100%;
}
.home:hover,
.logo-text:hover,
.nav-bar-option:hover,
.games:hover,
.contact:hover {
  transform: scale(125%);
  font-weight: bold;
}
.nav-bar-option:hover {
  top: 25px;
}
a {
  color: black;
  text-decoration: none;
}
.nav-bar-option {
  position: relative;
  top: 17.5px;
}
.logo {
  position: relative;

  top: 4px;
  left: 0px;
  font-weight: bold;
}
.logo-text {
  position: relative;
  top: -10px;
}
.fa-gamepad {
  position: relative;
  top: 2px;
}
.games-selection {
  display: grid;
}
body {
  background-color: rgb(245, 245, 245);
  font-family: Aldrich, monospace;
  margin: 0;
}
.top-bar {
  width: 100vw;
  height: 7.5vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: rgb(211, 211, 211);
  padding-left: 1.5vw;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .top-bar {
    height: 10vh;
    flex-shrink: 2;
  }
}
@media (max-width: 1500px) {
  .top-bar {
    height: 10vh;
  }
}
@media (max-width: 500px) {
  .top-bar {
    gap: 15px;
  }
}
.home:hover,
.logo-text:hover,
.nav-bar-option:hover,
.games:hover,
.contact:hover {
  transform: scale(125%);
  font-weight: bold;
}
.nav-bar-option:hover {
  top: 25px;
}
a {
  color: black;
  text-decoration: none;
}
.nav-bar-option {
  position: relative;
  top: 17.5px;
}
.logo {
  position: relative;

  top: 10px;
  left: 0px;
  font-weight: bold;
}
.logo-text {
  position: relative;
  top: -20px;
}
.fa-gamepad {
  position: relative;
  top: 2px;
}
.contact-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  padding: 10px;
  border: 6px double rgb(97, 97, 97);
}
.contact-info:hover {
  animation-name: contact;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 5s;
}

@keyframes contact {
  33% {
    transform: rotateX(180deg);
  }
}

* ::selection {
  background-color: hsl(212, 22%, 51%);
}
.virtual-text {
  width: 100vw;
  background-color: rgb(150, 150, 150);
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: "Roboto", monospace;
  font-weight: 900;
  border: 2% groove rgb(34, 34, 34);
  color: rgb(0, 0, 0);
  border-left: none;
  border-right: none;
}
