body {
  background-color: rgb(245, 245, 245);
  font-family: Aldrich, monospace;
  margin: 0;
}
.top-bar {
  width: 100vw;
  height: 7.5vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: rgb(211, 211, 211);
  padding-left: 1.5vw;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .top-bar {
    height: 10vh;
    flex-shrink: 2;
  }
}
@media (max-width: 1500px) {
  .top-bar {
    height: 10vh;
  }
}
@media (max-width: 500px) {
  .top-bar {
    gap: 15px;
  }
}
.home:hover,
.logo-text:hover,
.nav-bar-option:hover,
.games:hover,
.contact:hover {
  transform: scale(125%);
  font-weight: bold;
}
.nav-bar-option:hover {
  top: 25px;
}
a {
  color: black;
  text-decoration: none;
}
.nav-bar-option {
  position: relative;
  top: 17.5px;
}
.logo {
  position: relative;

  top: 10px;
  left: 0px;
  font-weight: bold;
}
.logo-text {
  position: relative;
  top: -20px;
}
.fa-gamepad {
  position: relative;
  top: 2px;
}
.games-selection {
  display: flex;
  padding-top: 20vh;
  padding-left: 5vw;
  width: 90vw;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
.item {
  width: 25vh;
  height: 25vh;
  background-color: #c7c7c7;
  border: 4vh double rgb(230, 230, 230);
  border-radius: 10%;
  display: inherit;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.item:hover {
  animation: wiggle 5s;
}
.item img {
  width: 100%;
  height: 100%;
}

@keyframes wiggle {
  40% {
    transform: rotateZ(5deg);
  }
  60% {
    transform: rotateZ(-5deg);
  }
}
