body {
    margin: 0;
    overflow: hidden;
    font-family: Pixel;
    font-size: 100%;
    background-color: rgb(50, 50, 50);
}



@font-face {
    font-family: "Pixel"; /*a name to be used later*/
    src: url("/04B_30__.TTF"); /*URL to font*/
  }

.arcade-top {
    width: 93.25%;
    padding-left: 3%;
    padding-right: 4%;
    height: 15%;
    display: flex;
    padding-bottom: 1vh;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    border-bottom: 2.5vh solid rgb(35, 35, 35);
    gap: 1vw;
    transform: scale(100%);
    background-color: rgb(50, 50, 50);
}

.arcade-text {
    visibility: visible;
    color: yellowgreen;
    font-size: 175%;
    text-shadow: 0px 0px 3px yellowgreen;
    position: relative;
    left: 0%;
    display: flex;
    justify-content: flex-end;
}

.arcade-text a {
    color: yellowgreen;
    text-shadow: 0px 0px 3px yellowgreen;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.contact, .games {
    color: yellowgreen;
    font-size: 175%;
    text-shadow: 0px 0px 3px yellowgreen;
}

.contact {
    position: relative;
    left: -35.25%;
}

.games {
    position: relative;
    left: -15.5%;
}

.arcade-text, .games {
    padding-right: 1.5vw;
    border-right: 0.5vh solid rgb(30, 30, 30);
}

.turn-angle {
    transform: rotateZ(0deg);
    color: yellowgreen;
    font-size: 175%;
    text-shadow: 0px 0px 3px yellowgreen;
    position: relative;
    left: -20%;
    transition: all 0.33s ease-in-out;
}

.games-section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    z-index: -1;
}

.game {
    background-color: rgb(37, 37, 37);
    width: 28.5vh;
    height: 28.5vh;
    border: 1vw double rgb(20, 20, 20);
    object-fit: cover;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.one img {
    border-radius: 10%;
    transition: all 1s ease-in-out;
}

.game img, .game a,
.game a img {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.game:nth-child(1):hover,
.game:nth-child(2):hover,
.game:nth-child(3):hover {
    transform: scale(105%);
    filter: brightness(110%);
}

.two, .three, .four {
    cursor: progress;
}

.games-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 45%;
    position: relative;
    top: 45%;
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 10px 5px black;
    left: 0.5%;
    transition: all 0.33s ease-in-out;
    filter: opacity(0%);
    transform: scaleY(0%);
}

.games-dropdown a {
    width: 100%;
    color: yellowgreen;
    font-size: 185%;
    text-shadow: 0px 0px 3px yellowgreen;
    text-decoration: none;
    transition: all 0.33s ease-in-out;
    filter: opacity(0%);
    transform: scaleY(0%);
    padding-top: 5vh;
    position: relative;
    top: -35%;
    left: 20%;
}

a:hover {
    --green: rgb(202, 253, 101);
    color: var(--green);
    text-shadow: 0px 0px 3px var(--green);
}

.contact-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    height: 95%;
    position: relative;
    top: 70%;
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 10px 5px black;
    left: -18%;
    transition: all 0.33s ease-in-out;
    filter: opacity(0%);
    transform: scaleY(0%);
}

.contact-dropdown a {
    color: yellowgreen;
    font-size: 185%;
    text-shadow: 0px 0px 3px yellowgreen;
    text-decoration: none;
    transition: all 0.33s ease-in-out;
    filter: opacity(0%);
    transform: scaleY(0%);
    padding-top: 5vh;
    position: relative;
    top: -40%;
    left: 42%;
}

.email {
    padding-left: 25%;
    padding-right: 25%;
}

.contact-dropdown a:last-child {
    top: 15%;
    left: -52.5%;
    padding-top: 0vh;
    filter: opacity(0%);
    transform: scaleY(0%);
}

.contact-dropdown a:hover {
    --green: rgb(202, 253, 101);
    color: var(--green);
    text-shadow: 0px 0px 3px var(--green);
}

.turn-angle-2 {
    transform: rotateZ(0deg);
    color: yellowgreen;
    font-size: 175%;
    text-shadow: 0px 0px 3px yellowgreen;
    position: relative;
    left: -36.5%;
    transition: all 0.33s ease-in-out;
}

.pShiba {
    width: 11vw;
    height: 5vw;
    position: absolute;
    top: 22.5%;
}
